doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title Mastering NodeJS 2023
		link(rel="stylesheet" href="css/main.css")
		link(rel="preconnect" href="https://fonts.googleapis.com")
		link(rel="preconnect" href="https://fonts.gstatic.com", crossorigin)
		link(href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet")
		block styles
	body 
		header.main-header
			.logo 
				h2 Squad
			nav
				ul 
					li 
						a(href="/add-player", class=(path === '/add-player' ? 'active' : '')) Add Player
					li
						a(href="/", class=(path === '/' ? 'active' : '')) Players  


	main.container 
		block content